#header {
    width: 100%;
    padding: 25px;
    position: fixed;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header.is-down {
    background-color: rgba(255, 255, 255, 0.90);
    border-bottom: 1px solid #D8D8D8; 
}

#header.is-down .header-logo {
    background-position: 0 -60px;
}

.header-logo {
    width: 190px;
    height: 60px;
    background: url(../img/logo.png) 0 0;
}

.navigation {
    display: flex; 
    align-items: center;
}
.navigation-item {
    margin-left: 30px;
}

.navigation-itemLink {
    font: 600 14px 'sofia-pro';
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding-bottom: 6px;
}

#header.is-down .navigation-itemLink {
    color: #000;
}

.navigation-itemLink.is-active {
  border-bottom: 5px solid #EB2224;
}
